
#first-page {
    min-height: 100vh;
    display: none;
}

#first-page #left-side {
    width: 50vw;
    background-color: #FFFFFF;
}

#first-page header {
    font-family: 'Rowdies', sans-serif;
}

#first-page h1 {
    text-align: center;
    margin: 6rem 7rem 4rem 7rem;
    color: #FE3B1F;
    font-weight: 400;
    font-size: 4.3rem;
}

#first-page form {
    width: 35rem;
    margin: auto auto 0 auto;
    padding: 1rem;
}


#first-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#first-page li {
    text-align: center;
    margin: 0 auto;
    border-color: #0C0D0E;
}

#first-page .input-control.error {
    border-color: red;
}

#first-page .fo-error--one {
    margin-top: -30px;
    font-size: 15px;
    height: 13px;
    color: #ff3860;
    text-align: left;
    display: none;
}

#first-page .f-error--two {
    margin-top: -30px;
    font-size: 15px;
    height: 13px;
    color: #ff3860;
    text-align: left;
    display: none;
}

#first-page input {
    font: 15px 'Montserrat', sans-serif;
    padding: 0.5rem;
    margin: 2rem 0;
    border: 1px solid #525557;
    width: 100%;
    height: 4rem;
    display: block;
    box-sizing: border-box;
}

#first-page input:placeholder-shown {
    padding-left: 2rem;
}

#first-page input:focus {
    padding-left: 2rem;
}

#first-page footer {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;
}

#first-page #nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0 0 0;
}

#first-page #nav li {
    margin: 0.5rem;
    padding: 0;
    cursor: pointer;
}


#first-page #first__page {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.6rem 0.6rem;
    border: solid #FE3B1F;
    border-radius: 40px;
    background-color: #FE3B1F;
    opacity: 1;
}

#first-page span {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.6rem 0.6rem;
    border: solid #FE3B1F;
    border-radius: 40px;
    background-color: #FE3B1F;
    opacity: 0.1;
}

/* arrow  style */

#first-page #go-back {
    display: flex;
    text-align: center;
    padding: 0.3rem 0.3rem 0.3rem 0.4rem;
    border-radius: 40px;
    border: solid 3px #FE3B1F;
    background-color: #FFFFFF;
    opacity: 1;
}

#first-page #next-page {
    display: flex;
    text-align: center;
    padding: 0.3rem 0.4rem 0.3rem 0.3rem;
    border-radius: 40px;
    border: solid 3px #FE3B1F;
    background-color: #FFFFFF;
    opacity: 1;
}

#first-page .arrow {
    border: solid #FE3B1F;
    border-width: 0 3px 3px 0;
    border-color: #FE3B1F;
    display: inline-block;
    padding: 3px;
}


#first-page .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#first-page .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


#first-page #right-side {
    width: 50vw;
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
}

#first-page #right-side header {

    font-family: 'Rowdies', sans-serif;
    text-align: center;
}

#first-page #right-side h2 {
    margin-top: 8rem;
    font-weight: 400;
    font-size: 64px;
    color: #FE3B1F;
}

#first-page #right-side main {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 7rem;
}

#first-page #right-side p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 2.2rem;
    color: #FFFFFF;
    font-size: 24px;
}